NUXT_PUBLIC_APPS_SCRIPT_URL=
NUXT_PUBLIC_LINE_CHANNEL_ID=
NUXT_PUBLIC_LINE_REDIRECT_URI=https://bingji-delta.vercel.app/auth/line-callback
NUXT_PUBLIC_REGISTRATION_FORM_URL=https://docs.google.com/forms/d/e/FORM_ID/viewform?usp=pp_url&entry.PHONE_FIELD_ID={phone}
